/**
 * Basic typography style for copy text
 */

body {
  color: $color__text;
  font: normal 100% / 1.5 $font__nunito-sans;
}

a {
  text-decoration: none;
  color: $color__royal-blue;

  &:hover,
  &:active {
    text-decoration: underline;
    color: $color__bahama-blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .5em;
  color: $color__stratos;
}

h5,
h6 {
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 62 / 54 * 1;

  @include mq__min-desktop {
    font-size: 54px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30 / 24 * 1;

  @include mq__min-desktop {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 1em;
}

ul,
ol {
  padding-left: 1.5em;
}