.product-features {
  position: relative;
  padding: 65px 0 40px;

  &::before {
    content: '';
    position: absolute;
    top: var(--container-bg_y-offset-mobile);
    left: var(--container-bg_x-offset-mobile);
    z-index: -1;
    display:  block;
    width: var(--bg_width-mobile);
    height: var(--bg_height-mobile);
    background-position: top var(--bg_y-offset-mobile) right var(--bg_x-offset-mobile);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: var(--bg_image);
  }

  > .container {
    max-width: 1088 + 40 * 1px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.product-feature {
  position: relative;
  overflow: hidden;
  padding: 50px 30px;
  border: 1px solid var(--scent-color-border);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--scent-color-bg);

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--container-bg_y-offset-mobile) + -65px);
    left: var(--container-bg_x-offset-mobile);
    z-index: -1;
    display:  block;
    width: 100%;
    height: var(--bg_height-mobile);
    background-position: top var(--bg_y-offset-mobile) right calc(var(--bg_x-offset-mobile) +  -21px);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: var(--bg_image);
    filter: blur(2px) brightness(1.1);
  }

  > svg {
    display: block;
    width: 104px;
    height: auto;
    margin: 0 auto;

    path {
      fill: var(--scent-color);
    }
  }
}

.col:nth-child(2) .product-feature,
.col:nth-child(3) .product-feature {

  &::before {
    content: none;
  }
}

@include mq__min-desktop {

  .product-features {

    &::before {
      top: var(--container-bg_y-offset-desktop);
      left: var(--container-bg_x-offset-desktop);
      width: var(--bg_width-desktop);
      height: var(--bg_height-desktop);
      background-position: top right var(--bg_x-offset-desktop);
    }
  
    .row {
      display: flex;
      align-items: stretch;
      margin: 0 -8px;
    }

    .col {
      flex: 0 0 33.33%;
      padding: 0 8px;
    }
  }

  .product-feature {
    height: 100%;
  }

  .col:nth-child(1) .product-feature,
  .col:nth-child(2) .product-feature,
  .col:nth-child(3) .product-feature {

    &::before {
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-size: auto var(--bg_height-desktop);
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-67.2vw + var(--bg_x-offset-desktop));
    }
  }

  .col:nth-child(2) .product-feature,
  .col:nth-child(3) .product-feature {
  
    &::before {
      content: '';
    }
  }
  
  .col:nth-child(2) .product-feature {

    &::before {
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-34.6vw + var(--bg_x-offset-desktop));
    }
  }

  .col:nth-child(3) .product-feature {

    &::before {
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-21px + var(--bg_x-offset-desktop));
    }
  }
}

@media screen and (min-width:1128px) {

  .col:nth-child(1) .product-feature,
  .col:nth-child(2) .product-feature,
  .col:nth-child(3) .product-feature {

    &::before {
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-736px - 14px - ((100vw - 1128px) / 2) + var(--bg_x-offset-desktop));
    }
  }
  
  .col:nth-child(2) .product-feature {

    &::before {
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-368px - 14px - ((100vw - 1128px) / 2) + var(--bg_x-offset-desktop));
    }
  }

  .col:nth-child(3) .product-feature {

    &::before {
      background-position: top calc(var(--bg_y-offset-desktop) + -66px) right calc(-14px - ((100vw - 1128px) / 2) + var(--bg_x-offset-desktop));
    }
  }
}