.product-features {
  position: relative;
  padding: 65px 0 40px;

  &::before {
    content: '';
    position: absolute;
    top: var(--container-bg_y-offset);
    left: var(--container-bg_x-offset);
    z-index: -1;
    display:  block;
    width: var(--bg_width);
    height: var(--bg_height);
    background-position: top var(--bg_y-offset) right var(--bg_x-offset);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: var(--bg_image);
    filter: blur(1px);
    opacity: 0.5;
  }

  > .container {
    max-width: 1088 + 40 * 1px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.product-feature {
  position: relative;
  overflow: hidden;
  padding: 50px 30px;
  border: 1px solid var(--scent-color-border);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--scent-color-bg);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(2px) brightness(1.1);
  }

  > * {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }

  > svg {
    display: block;
    width: 104px;
    height: auto;

    path {
      fill: var(--scent-color);
    }
  }
}

@include mq__min-desktop {

  .product-features {
    padding-bottom: 60px;

    &::before {
      top: var(--container-bg_y-offset);
      left: var(--container-bg_x-offset);
      width: var(--bg_width);
      height: var(--bg_height);
      background-position: top right var(--bg_x-offset);
    }
  
    .cs-row {
      display: flex;
      align-items: stretch;
      justify-content: center;
      margin: 0 -8px;
    }

    .cs-col {
      flex: 0 1 100%;
      padding: 0 8px;
    }
  }

  .product-feature {
    height: 100%;
  }
}