.scent-selector {
  padding: 0 0 65px;

  .product-gallery {
    
    img {
      max-width: 100%;
      height: auto;
    }

    .bag-color {
      position: relative;
      width: 100%;
      height: 100vw;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      color: white;
      background-color: var(--bag-color);

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .product-gallery-thumbs {
    display: none;
  }

  .copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  form {
    width: 100%;
    margin-bottom: 30px;
  }

  label {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: 600;
    color: $color__scorpion;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 10px 50px 10px 18px;
    border: 2px solid rgba($color__manatee, 0.35);
    border-radius: 4px;
    color: var(--scent-color-text);
    background-image: url('../img/bg_select.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-color: rgba($color__manatee, 0.05);
  }

  option { // stupid Firefox
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: mix(white, $color__manatee, 95%);
  }

  .scent-features {
    margin: 20px 0 26px;
    color: $color__stratos;
  }

  .scent-feature {
    display: flex;
    margin-bottom: 14px;

    img {
      display: block;
      margin-right: 17px;
    }
  }

  @include mq__min-desktop {
    display: flex;
    justify-content: space-between;
    max-width: 1088 + 40 * 1px;
    padding: 80px 20px 65px;
    margin: 0 auto;

    .product-gallery {
      position: relative;
      flex: 0 0 560 / 1088 * 100%;
      padding-left: 110px;

      .product-gallery-slider {

        .bag-color {
          width: 100%;
          height: 0;
          min-height: 356px;
          max-height: 450px;
        }
      }
    }

    .product-gallery-thumbs {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 76px;

      > * {
        width: 76px;
        height: 76px;
        margin-bottom: 25px;
        border: 2px solid var(--scent-color-border);
        border-radius: 2px;
        cursor: pointer;

        &.tns-nav-active {
          border-color: $color__royal-blue;
        }
      }

      .bag-color {
        width: 76px;
        height: 76px;
        font-size: 10px;
      }
    }

    .copy {
      flex: 0 0 495 / 1088 * 100%;
      display: block;
      padding: 0;
    }

    h1 {
      margin-top: 0;
      font-size: 36px;
    }

    select {
      width: auto;
    }

    .scent-features {
      display: flex;
    }

    .scent-feature + .scent-feature {
      margin-left: 40px;
    }
  }

  @media screen and (min-width:1024px) {

    .product-gallery {

      .product-gallery-slider {

        .bag-color {
          height: 389px;
        }
      }
    }
  }

  @media screen and (min-width:1128px) {

    .product-gallery {

      .product-gallery-slider {

        .bag-color {
          height: 450px;
        }
      }
    }
  }
}

.tns-nav {
  margin-bottom: 0;
  margin-top: 10px;
  
  button {
  
    &.tns-nav-active::before {
      background: var(--scent-color);
    }
  }
}
