// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: inline-block;
  min-width: 170px;
  padding: 12px 35px 11px;
  border: 0 none;
  border-radius: 23px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  color: white;
  background: $color__fun-blue;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: white;
    background: $color__logo-blue;
  }

  &.btn-outline {
    padding: 8px 36px 7px;
    border: 2px solid $color__fun-blue;
    color: $color__fun-blue;
    background: white;    
    box-shadow: none;

    &:hover {
      color: white;
      background: $color__fun-blue;      
    }
  }

  &.btn-small {
    min-width: 125px;
    padding: 4px 20px;
    font-size: 12px;
    box-shadow: none;

    &.btn-outline {
      padding: 2px 18px;
      border-width: 1px;
    }
  }

  &.btn-link {
    min-width: auto;
    padding: 12px 0 11px;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: $color__fun-blue;
    background: none;
    box-shadow: none;
    transition: color 0.3s ease-in-out;

    svg {
      position: relative;
      bottom: 1px;
      width: 12px;
      height: 8px;
      fill: currentColor;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: $color__logo-blue;
      background: none;

      svg {
        transform: translateX(5px);
      }
    }
  }
}