// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 

  > a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: $color__stratos;
  }

  .section-gray & {
    background-color: white;
  }
}

.card-image {
  position: relative;
  padding-top: 153.2 / 298.3 * 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease-in-out;

    .card > a:hover & {
      transform: scale(110%);
    }
  }
}

.card-content {
  flex: 1 0 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 22px 22px;
}
