// -----------------------------------------------------------------------------
// This file contains all styles related to the form elements.
// -----------------------------------------------------------------------------

.form-group {
  position: relative;
  border-radius: 4px;
  margin-bottom: 15px;

  label {
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: $color__scorpion;
    transform-origin: top left;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px 22px 8px;
    border: 2px solid rgba($color__manatee, 0.3);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24 / 18 * 1;
    color: $color__stratos;
    background: white;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:focus,
    &:active {
      border-color: $color__royal-blue;
      outline: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    &.dirty + label,
    &:focus + label {
      transform: scale(56%) translateY(-18px);
    }
  }

  textarea {
    min-height: 190px;
  }

  .error-msg {
    display: none;
    padding: 7px 22px 0;
    color: mix(black, $color__teakwood-rose, 45%);
  }  

  &.error {

    input[type='text'],
    input[type='email'],
    textarea {
      border-color: mix(black, $color__teakwood-rose, 45%);
      background-color: mix(white, $color__teakwood-rose, 95%);
    }

    .error-msg {
      display: block;
    }
  }
}

.form-btns {
  margin: 30px 0 15px;
  text-align: right;
}

@include mq__min-desktop {
  form {

    .row {
      display: flex;
      margin: 0 -8px;
    }

    .col {
      flex: 1 1 100%;
      padding: 0 8px;
    }
  }
}