// -----------------------------------------------------------------------------
// This file contains all styles related to the tout component.
// -----------------------------------------------------------------------------

.tout-section {
  padding: 45px 0;
  font-size: 16px;

  > .container {
    padding: 0 20px;
  }

  img {
    display: block;
    width: 352px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 700;
  }

  .btn-link {
    font-size: 14px;
    font-weight: 900;
  }

  @include mq__min-desktop {
    padding: 75px 0;
    font-size: 20px;

    > .container {
      display: flex;
      max-width: 1088 + 40 * 1px;
      margin: 0 auto;
    }

    .tout-img {
      flex: 0 0 352px;
      margin-right: 64px;
    }

    h2 {
      margin: 0 0 0.5em;
      font-size: 36px;
      font-weight: 600;
    }

    &.tout-section-image-right {

      > .container {
        flex-direction: row-reverse;
      }

      .tout-img {
        margin: 0 0 0 64px;
      }
    }
  }
}