// -----------------------------------------------------------------------------
// This file contains styles that are specific to the article template.
// -----------------------------------------------------------------------------

.page-article {

  .hero {
    position: relative;
    max-width: 1088px;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba($color__lavender_bag,0.25) url(../img/related-products/bg.svg) top 30px center / 200px auto repeat;

    img {
      position: absolute;
      display: block;
      width: auto;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mq__max-tablet {
        
        &.align-right-mobile {
          right: 0;
          left: auto;
          transform: translate(0%, -50%);
        }
        
        &.align-left-mobile {
          right: auto;
          left: 0;
          transform: translate(0%, -50%);
        }
      }

      @media screen and (min-width:1088px) {
        width: 100%;
        height: auto;
      }
    }
  }
}

.article-content {

  > .container {
    padding: 0 20px;
  }

  @include mq__min-desktop {

    > .container {
      max-width: 904px;
      padding: 0;
      margin: 0 auto;
    }
  
    .cs-row {
      display: flex;
      justify-content: space-between;
    }
  }
}

.article-headline {
  margin-bottom: 35px;
}

.article-body {
  flex: 0 0 628 / 904 * 100%;
  margin-bottom: 55px;

  .meta {
    margin-bottom: 20px;

    span {
      display: inline-block;
      padding: 0 10px;
      border-left: 1px solid $color__stratos;

      &:first-child {
        padding-left: 0;
        border-left: 0 none;
      }
    }
  }

  .container {
    margin-bottom: 1em;
  }

  .row {
    margin-right: calc(-1 * var(--bs-gutter-x));
    margin-left: calc(-1 * var(--bs-gutter-x));
  }

  [class^='col-'] {
    text-align: center;

    img {
      margin-left: auto;
      margin-right: auto;
    }

    @include mq__min-tablet {
      text-align: left;

      img {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 378px;
    height: auto;
    margin-bottom: 1em;

    @include mq__min-tablet {

      &[class*='img-'] {
        max-width: 300px;
        clear: both;
      }

      &.img-center {
        margin-left: auto;
        margin-right: auto;
      }

      &.img-left {
        margin-right: auto;
      }
  
      &.img-right {
        margin-left: auto;
      }

      &.img-float-left {
        float: left;
        margin-right: 1em;

      }
  
      &.img-float-right {
        float: right;
        margin-left: 1em;
      }
    }
  }

  ul,
  ol { // fix bullets/numbers overlapping left-floated images
    overflow: hidden;
  }
}

.article-sidebar {
  flex: 0 0 219 / 904 * 100%;
  margin-bottom: 55px;

  > h5 {
    margin-bottom: 20px;
  }
}
