// -----------------------------------------------------------------------------
// This file contains styles that are specific to the article template.
// -----------------------------------------------------------------------------

.page-article {

  .hero {
    position: relative;
    max-width: 1088px;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;

    img {
      position: absolute;
      display: block;
      height: 100%;
      width: auto;

      &.align-right-mobile {
        left: calc((900px - 100vw) * -1);
      }

      &.align-left-mobile {
        right: calc((900px - 100vw) * -1);
      
      }

      @media screen and (min-width:900px) {

        &.align-right-mobile {
          left: auto;
        }
  
        &.align-left-mobile {
          right: auto;
        }
      }
    }
  }
}

.article-content {

  > .container {
    padding: 0 20px;
  }

  @include mq__min-desktop {

    > .container {
      max-width: 904px;
      padding: 0;
      margin: 0 auto;
    }
  
    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}

.article-headline {
  margin-bottom: 35px;
}

.article-body {
  flex: 0 0 628 / 904 * 100%;
  margin-bottom: 55px;

  .meta {
    margin-bottom: 20px;
  }

  .category {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid $color__stratos;
    margin-right: 10px;
  }
}

.article-sidebar {
  flex: 0 0 219 / 904 * 100%;
  margin-bottom: 55px;

  > h5 {
    margin-bottom: 20px;
  }
}
