// -----------------------------------------------------------------------------
// This file contains styles that are specific to the FAQ page.
// -----------------------------------------------------------------------------

.page-faqs {
  background: mix(white, $color__manatee, 90%) url(../img/bg.jpg) no-repeat left -325px top -560px;

  @include mq__min-desktop {
    background-position: center -492px;
  }

  @media screen and (min-width:1670px) {
    background-position: center -32vw;
    background-size: 100% auto;
  }

  .hero {
    margin-bottom: 40px;
    text-align: center;
  
    > .container {
      max-width: 1088 + 40 * 1px;
      padding: 130px 20px 0;
      margin: 0 auto;
    }
  }

  .accordion-wrapper {
    margin-bottom: 100px;
  }
}
