// -----------------------------------------------------------------------------
// This file contains styles that are specific to the FAQ page.
// -----------------------------------------------------------------------------

.page-faqs {
  background: mix(white, $color__manatee, 90%) url(../img/faq/bg.jpg) no-repeat -265px -195px;
  background-size: 1482px auto;

  @include mq__min-desktop {
    background-position: right 0 top 67px;
  }

  @media screen and (min-width:1482px) {
    background-size: 100% auto;
  }

  .hero {
    margin-bottom: 40px;
    text-align: center;
  
    > .container {
      max-width: 1088 + 40 * 1px;
      padding: 130px 20px 0;
      margin: 0 auto;
    }
  }

  .accordion-wrapper {
    margin-bottom: 100px;
  }
}
