// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero-banner {

  @include mq__min-desktop {
    height: 684px;
    overflow: hidden;
  }

  [class^="hero-scent_"] {
    width: 100%;
    padding-top: 320px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: auto 230px;
    background-position: center top;
    background-image: none;

    > .container {
      position: relative;
      max-width: 1088 + 40 * 1px;
      padding: 0 20px;
      margin: 0 auto;
    }

    .copy {
      max-width: 493px;
    }

    h2 {
      margin: 0 0 0.5em;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--scent-color)
    }

    h1 {
      margin: 0 0 0.5em;
      font-size: 36px;
      font-weight: 300;
    }

    .links {

      p {
        margin-bottom: 0;
      }
    }

    .btn-link {
      color: var(--scent-color);
    }

    .image {
      position: absolute;
      right: 0;
      left: 0;
      top: -381.33px;
      width: auto;
      height: auto;
      max-height: 381.33px;
      margin: 0 auto;
    }

    @include mq__min-tablet {
      background-size: 100% auto;

      .image {
        top: -340px;
      }
    }
    
    @include mq__min-desktop {
      height: 684px;
      padding: 0;
      background-size: auto 551px;
      background-position: center bottom 133px;
      font-size: 20px;

      > .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 549px;
      }

      h2 {
        font-size: 18px;
      }
  
      h1 {
        font-size: 54px;
      }

      .image {
        top: auto;
        left: auto;
        right: 0;
        bottom: -120px;
        max-height: 572px;
        margin: 0;
      }
    }

    @media screen and (min-width:1366px) {
      background-size: 100% auto;
    }
  }

  .hero-scent_lavender {
    --scent-color: #{$color__lavender_text};
  }
  
  .hero-scent_ocean-mist {
    --scent-color: #{$color__ocean-mist_text};
  }
  
  .hero-scent_vanilla-flower {
    --scent-color: #{$color__vanilla-flower_text};
  }
  
  .hero-scent_simply-clean {
    --scent-color: #{$color__simply-clean_text};
  }
  
  .hero-scent_lavender-sage {
    --scent-color: #{$color__lavender-sage_text};
  }
  
  .hero-scent_fresh-air {
    --scent-color: #{$color__fresh-air_text};
  }
  
  .hero-scent_sweet-orange-citrus {
    --scent-color: #{$color__sweet-orange-citrus_text};
  }
  
  .hero-scent_lemon-thyme {
    --scent-color: #{$color__lemon-thyme_text};
  }

  .hero-scent_citrus-sandalwood {
    --scent-color: #{$color__citrus-sandalwood_text};
  }

  .hero-scent_teakwood-rose {
    --scent-color: #{$color__teakwood-rose_text};
  }    

  @at-root {
    // Load these bg images after JS is initialized for performance
    body:not(.no-js) .hero-banner {

      .hero-scent_lavender-sage {
        background-image: url(../img/home/bg_hero-lavender-sage.jpg);
      }

      .hero-scent_citrus-sandalwood {
        background-image: url(../img/home/bg_hero-citrus-sandalwood.jpg);
      }
    
      .hero-scent_teakwood-rose {
        background-image: url(../img/home/bg_hero-teakwood-rose.jpg);
      }    
    }
  }

  [class^="hero-scent_"] {

    .btn-link:hover {
      color: $color__logo-blue;
    }
  }

  .tns-nav {
    display: block;
    margin-top: 60px;

    @include mq__min-desktop {
      margin-top: -100px;
    }
  }
}

.product-touts {
  padding: 30px 0 65px;
  text-align: center;
  
  > .container {
    max-width: 1088 + 40 * 1px;
    padding: 0 20px;
    margin: 0 auto;

    > h2 {
      margin-bottom: 1em;
    }
  }

  @include mq__min-desktop {

    .row {
      display: flex;
      margin: 0 8px;
  
      .col {
        padding: 0 8px;
        flex: 0 0 25%;
      }
    }
  }
}

.video-section {
  padding: 65px 0 100px;

  > .container {
    max-width: 1088 + 40 * 1px;
    padding: 0 20px;
    margin: 0 auto;

    > h2 {
      margin-bottom: 1em;
      text-align: center;

      @include mq__min-desktop {
        margin-bottom: 2em;
      }
    }
  }
}

.sustainability-section {
  padding: 460px 0 75px;
  background: url(../img/home/bg-sustainability.svg) no-repeat right -260px top;

  > .container {
    max-width: 1088 + 40 * 1px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @include mq__min-desktop {
    padding: 250px 0;
    background-position: left -790px center;

    > .container {
      padding: 0 20px 0 530px;

      > h2 {
        margin-top: 0;
      }
    }
  }

  @media screen and (min-width:1128px) {
    background-position: left calc(((100vw - 1128px) / 2) - 790px) center;
  }
}