// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product pages.
// -----------------------------------------------------------------------------


:root {
  --scent-color: #{$color__mine-shaft};
  --bag-color: #{$color__manatee};
}


.page-products {

  &[data-scent="lavender"] {
    --scent-color: #{$color__lavender_text};
    --bag-color: #{$color__lavender_bag};
  }

  &[data-scent="ocean-mist"] {
    --scent-color: #{$color__ocean-mist_text};
    --bag-color: #{$color__ocean-mist_bag};
  }

  &[data-scent="vanilla-flower"] {
    --scent-color: #{$color__vanilla-flower_text};
    --bag-color: #{$color__vanilla-flower_bag};
  }

  &[data-scent="simply-clean"] {
    --scent-color: #{$color__simply-clean_text};
    --bag-color: #{$color__simply-clean_bag};
  }
  
  &[data-scent="lavender-sage"] {
    --scent-color: #{$color__lavender-sage_text};
    --bag-color: #{$color__lavender-sage_bag};
  }

  &[data-scent="fresh-air"] {
    --scent-color: #{$color__fresh-air_text};
    --bag-color: #{$color__fresh-air_bag};
  }

  &[data-scent="sweet-orange-citrus"] {
    --scent-color: #{$color__sweet-orange-citrus_text};
    --bag-color: #{$color__sweet-orange-citrus_bag};
  }

  &[data-scent="lemon-thyme"] {
    --scent-color: #{$color__lemon-thyme_text};
    --bag-color: #{$color__lemon-thyme_bag};
  }

  &[data-scent="citrus-sandalwood"] {
    --scent-color: #{$color__citrus-sandalwood_text};
    --bag-color: #{$color__citrus-sandalwood_bag};
  }

  &[data-scent="teakwood-rose"] {
    --scent-color: #{$color__teakwood-rose_text};
    --bag-color: #{$color__teakwood-rose_bag};
  }
  
  @import "products/scent-selector";
  @import "products/product-features";
  @import "products/product-details";
}